@inject IAuthService authService

@if(loginProviders!=null)
@foreach (var provider in loginProviders)
{
    <form action="/api/account/Login" method="get">
        <button type="submit"
                class="pure-button pure-button-primary"
                name="providerName"
                value="@provider"
                title="@($"Log in using your {provider} account")">
            @provider
        </button>
    </form>
}

@code {
    IEnumerable<string> loginProviders;
    protected override async Task OnInitializedAsync()
    {
        loginProviders = await authService.GetLoginProviders();
        StateHasChanged();
    }
}
