@inject IAuthService authService


@if (loginProviders != null)
    @foreach (var provider in loginProviders)
    {
        <a href=@GetPath(provider)>@provider</a>
    }

@code {
    IEnumerable<string> loginProviders;

    protected override async Task OnInitializedAsync()
    {
        loginProviders = await authService.GetLoginProviders();
        StateHasChanged();
    }

    private string GetPath(string provider)
    {
        return $"/api/account/Login/?providerName={provider}";
    }
}
