@page
@{
    ViewData["Title"] = "Каталог";

    @model IndexModel
}


<form method="get">
    <label>
        <input asp-for="@Model.CatalogModel.SearchText" />
    </label>
    <input type="image" @*src="images/arrow-right.svg" *@ />
</form>

@if (Model.CatalogModel.CatalogTorrents.Any())
{
    <partial name="_pagination" for="CatalogModel.PaginationInfo" view-data="@{new ViewDataDictionary(this.ViewData) { { "searchText", Model.CatalogModel.SearchText} }} " />
    <div>
        <table>
            <tr>
                <th> Название</th>
                <th>Дата загрузки</th>
                <th>Размер</th>
            </tr>
            @foreach (var catalogTorrent in Model.CatalogModel.CatalogTorrents)
            {
                <tr><partial name="_torrent" for="@catalogTorrent" /></tr>
            }
        </table>
    </div>
    <partial name="_pagination" for="CatalogModel.PaginationInfo" />
}
else
{
    <div>Увы, ничего не найдено</div>
}
