
<div class="torrentslist-items">
    @foreach (var torrent in TorrentsModel)
    {
        <div class="torrents-flex-item">
            <a href="@GetPath(torrent.Id)">
                <i class="fas fa-indent"></i>
                <div>@torrent.Title</div>
                <div class="a-size">Размер: @torrent.Size</div>
                <div class="a-date">@torrent.RegisteredAt.Date.ToShortDateString()</div>
            </a>
        </div>
    }
</div>


@code{
    [Parameter] IEnumerable<TorrentView> TorrentsModel { get; set; }

    private string GetPath(int id)
    {
        return string.Format("/Torrent/{0}", id);
    }
}
