@inherits LayoutComponentBase

<BlazoredModal />

<div class="LoginDisplay-container">
    <div class="LoginDisplay-container-items">
        <LoginDisplay />
    </div>
</div>
<div>
    @Body
</div>
