.pager-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 0px 0px 0px;
}

.sa-pager {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

    .sa-pager:hover {
        color: #83D01B;
        text-decoration: none;
    }

    .sa-pager.is-disabled {
        opacity: .5;
        pointer-events: none;
    }
