table {
    border-spacing: 0 10px;
    border-collapse: inherit;
}

th {
    padding: 10px 5px;
    background: #83D01B;
    color: white;
    border: 2px solid;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-align: center;
}

a {
    
    color: black;
}

    a:hover {
        color: #83D01B;
        text-decoration: none;
    }

td {
    vertical-align: middle;
    padding: 5px;
    font-size: 18px;
    border: 2px solid white;
    background: #f3fff0;
    color: black;
    text-align: center;
}

    td:nth-child(1) {
        text-align: left;
    }

@media only screen and (max-width: 600px) {
    th {
        font-size: 11px;
    }

        th:nth-child(1) {
            font-size: 14px;
        }

    td {
        font-size: 12px;
    }

        td:nth-child(1) {
            font-size: 14px;
        }
}
