<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/torrents/pager/pager.css" />
    <link rel="stylesheet" href="~/fonts/Roboto-Bold.ttf" />
    <link rel="stylesheet" href="~/css/component/torrents.component.css"/>*@
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
<body>
    @RenderBody()
</body>
</html>